/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: black;
    
}

/* Game Board Styles */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

h1 {
    font-family: 'Bungee', sans-serif;
    color: lime;
    font-size: 100px;
    padding-top: 60px;
    text-shadow: 0 0 15px lime;
}

table {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    border-collapse: collapse;
    /* border-spacing: 15px; */
}
td {
    border: 5px solid limegreen;
    height: 100px;
    width: 100px;
    cursor: pointer;
    color: lime;
    font-size: 50px;
    font-family: 'Bungee', sans-serif;
}

/* Button Styling */
<<<<<<< HEAD
=======
button:hover {
    box-shadow: 0 0 15px lime;
    
}
button:active {
    color: rgba(0, 0, 0, .6);
}
>>>>>>> master
#clearBoard {
    height: 60px;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
}
#resetScore {
    height: 60px;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 85%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
}


/* Styling game board, getting rid of some borders */
[id="1"] {
    border-top: none;
    border-left: none;
}
[id="2"] {
    border-top: none;
}
[id="3"] {
    border-top: none;
    border-right: none;
}
[id="4"] {
    border-left: none;
}

[id="6"] {
    border-right: none;
}
[id="7"] {
    border-bottom: none;
    border-left: none;
}
[id="8"] {
    border-bottom: none;
}
[id="9"] {
    border-bottom: none;
    border-right: none;
}

/* notifications */
#playerTurn {
    font-size: 30px;
    color: rgb(0,191,255);
    text-shadow: 0 0 2px rgb(0,191,255);
    font-family: 'Bungee', sans-serif;
    margin-bottom: 10px;
}
#gameOver {
    font-size: 30px;
    color: rgb(255,0,0);
    font-family: 'Bungee', sans-serif;
    margin-top: 10px;
}

/* Colors */
.purple {
    color: #FF00A5;
    text-shadow: 0 0 2px #FF00A5;
}

.yellow {
    color: yellow;
    text-shadow: 0 0 2px yellow;
}

.blue {
    color: rgb(0,191,255);
    text-shadow: 0 0 2px rgb(0,191,255);
}


/* animations */
.winner {
    animation-duration: 1.5s;
    animation-name: winnerText;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-inout;
    animation-fill-mode: forwards;
}

@keyframes winnerText {
    0%{
        font-size: 30px;
    }
    15%{
        font-size: 30px;
        color: coral;
    }
    25%{
        font-size: 30px;
        color: yellow;
    }
    50%{
        transform: scale(.5);
        color: orange;
    }
    75%{
        font-size: 30px;
        color: lightblue;
    }
    90%{
        font-size: 30px;
        color: violet;
    }
    100%{
        transform: rotate(720deg) scale(1.7);
    }
}

/* Scoreboard */
.player1Score {
    /* border: 1px solid pink; */
    height: 200px;
    width: 300px;
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: 25px;
    color: rgb(0,191,255);
    font-family: 'Bungee', sans-serif;
   
}

.player2Score {
    /* border: 1px solid pink; */
    height: 200px;
    width: 300px;
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 25px;
    color: rgb(0,191,255);
    font-family: 'Bungee', sans-serif;
    
}

.putScoreHere1, .putScoreHere2 {
    font-size: 60px;
}

