/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: black;
    
}

/* Game Board Styles */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

h1 {
    font-family: 'Bungee', sans-serif;
    color: limegreen;
    font-size: 100px;
    padding-top: 60px;
    text-shadow: 0 0 15px lime;
}

table {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    /* border-spacing: 15px; */
}
td {
    border: 3px solid limegreen;
    height: 100px;
    width: 100px;
    cursor: pointer;
    color: lime;
    font-size: 50px;
    font-family: 'Bungee', sans-serif;
}

/* Button Styling */
#clear {
    height: 60px;
    width: 200px;
    padding: 5px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background-color: limegreen;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
}

/* Cell Selected Styles */
/* .background-blue {
    background-color: rgba(0,0,255,0.4);
}

.background-pink {
    background-color: rgba(255,192,203,0.4);
} */

[id="1"] {
    border-top: none;
    border-left: none;
}
[id="2"] {
    border-top: none;
}
[id="3"] {
    border-top: none;
    border-right: none;
}
[id="4"] {
    border-left: none;
}

[id="6"] {
    border-right: none;
}
[id="7"] {
    border-bottom: none;
    border-left: none;
}
[id="8"] {
    border-bottom: none;
}
[id="9"] {
    border-bottom: none;
    border-right: none;
}


#playerTurn {
    font-size: 30px;
    color: rgb(0,191,255);
    text-shadow: 0 0 2px rgb(0,191,255);
    font-family: 'Bungee', sans-serif;
}
#gameOver {
    font-size: 30px;
    color: rgb(255,0,0);
    font-family: 'Bungee', sans-serif;
}

span {
    color: rgb(255,0,0);
}